<a href="https://colab.research.google.com/github/dimonpd/Logictic_example/blob/main/2_2_Pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>[Введение в Pandas](https://stepik.org/lesson/681964/)</center>

Этот ноутбук поможет разобраться вам в основных моментах предварительной обработки данных в Pandas, познакомиться с полезными функциями и трюками.

### Оглавление ноутбука
<img src="https://sun2.beeline-kz.userapi.com/impg/sH8DAKXIRcSQkiZ119iicN4-8JdSEjH88T1QfQ/53wjU4ABcrI.jpg?size=728x455&quality=96&sign=caed6c5a44eb5b193ed9d8e975558c56&type=album" align="right" width="528" height="528" />
<br>

<p><font size="3" face="Arial" font-size="large">
<ul type="square"><li><a href="#1">Структуры данных в Pandas</a></li><li><a href="#2">Предварительный анализ данных</a><ul><li><a href="#3">Загрузка и первичное знакомство</a></li><li><a href="#4">Предварительный осмотр</a></li><li><a href="#5">Работа с числовыми данными</a></li></ul></li><li><a href="#6">Извлечение необходимой информации</a><ul><li><a href="#7">Сортировка</a></li><li><a href="#8">Методы фильтрации</a></li><li><a href="#9">Работа с пропусками</a></li><li><a href="#10">Индексация данных</a></li><li><a href="#11">Функции</a></li></ul></li>
</ul></font></p>

# Cтруктуры данных в Pandas

<div class = "markdown-google-sans"><a name="1"></a></div>

`Series` — это структура, используемая для работы с последовательностью одномерных данных, а `Dataframe` — более сложная и подходит для нескольких измерений. `Series` – одномерный массив с метками, способный хранить любой тип данных.

<img src="https://sun9-43.userapi.com/impg/0k7fzcgju-6hY10XmQoaJkfxOxr0-SvgA3NHQg/N0Hb-T_fXio.jpg?size=1280x720&quality=96&sign=6ac22e0ff168023b0dff780c1bfa5e36&type=album"></img>

In [ ]:
import pandas as pd # pandas для работы с табличными данными
import numpy as np  # numpy для математических действий

`Series` создать можно так:

`s = pd.Series(data, index=index, name='something')`

Метки именуются `index`, данные `data` могут быть любыми, name является именем `Series`.

In [ ]:
data = ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog']
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
s = pd.Series(data, index=labels, name='animals')
s

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animals, dtype: object

Создать `Dataframe` проще из словаря, а в качестве значений строк будем использовать список

In [ ]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
         'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
         'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
         'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

А теперь сделаем открытие! Столбцы в `DataFrame` являются `Series`!

In [ ]:
s = df.age
s

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

Обращение по индексу `s[0]`

In [ ]:
s[0]

2.5

Элементы по определенным индексам `s[[4, 3, 1]]`

In [ ]:
s[[4, 3, 1]]

e    5.0
d    NaN
b    3.0
Name: age, dtype: float64

Срезы `s[:3]`

In [ ]:
s[:3]

a    2.5
b    3.0
c    0.5
Name: age, dtype: float64

Идеология словаря при обращении к элементам датафрейма

In [ ]:
s['a']

2.5

In [ ]:
'e' in s

True

In [ ]:
't' in s

False

__Арифметические операции к Series__

In [ ]:
s + s

a     5.0
b     6.0
c     1.0
d     NaN
e    10.0
f     4.0
g     9.0
h     NaN
i    14.0
j     6.0
Name: age, dtype: float64

__Логические операции к Series.__ Например, выбрать все значения, больше заданного

In [ ]:
s[s > 3]

e    5.0
g    4.5
i    7.0
Name: age, dtype: float64

Функции из модуля numpy применяются поэлементно. Например, экспонента `np.exp(s)`

Количество строк можно узнать так `len(s)`

###   Редактирование таблиц. Создание и удаление столбцов.

К столбцам `DataFrame` применимы любые математические операции. Надо толькo понимать, как работает векторизация.

Так мы можем присвоить всему столбцу `'visits'` значение 3 и оно автоматические появится в каждой строке:

In [ ]:
df['visits'] = 3
df

  animal  age  visits priority
a    cat  2.5       3      yes
b    cat  3.0       3      yes
c  snake  0.5       3       no
d    dog  NaN       3      yes
e    dog  5.0       3       no
f    cat  2.0       3       no
g  snake  4.5       3       no
h    cat  NaN       3      yes
i    dog  7.0       3       no
j    dog  3.0       3       no

Надо увеличить возраст на год?  Просто увеличиваем столбец `'age'` на единицу. Даже не верится, что все так просто!

In [ ]:
df.age = df.age + 1
df

  animal  age  visits priority
a    cat  3.5       3      yes
b    cat  4.0       3      yes
c  snake  1.5       3       no
d    dog  NaN       3      yes
e    dog  6.0       3       no
f    cat  3.0       3       no
g  snake  5.5       3       no
h    cat  NaN       3      yes
i    dog  8.0       3       no
j    dog  4.0       3       no

Можем даже создать новый столбец, использую другие столбцы `'age'` и `'visits'`. Казалось бы, всего одна строчка, но применяется для всего столбца! Векторизация это секретная магия pandas =)

Аналогично, можно  вычесть, умножить, разделить и сложить два численных столбца друг с другом.

In [ ]:
df['age_visits_sum'] = df.age + df.visits
df

  animal  age  visits priority  age_visits_sum
a    cat  3.5       3      yes             6.5
b    cat  4.0       3      yes             7.0
c  snake  1.5       3       no             4.5
d    dog  NaN       3      yes             NaN
e    dog  6.0       3       no             9.0
f    cat  3.0       3       no             6.0
g  snake  5.5       3       no             8.5
h    cat  NaN       3      yes             NaN
i    dog  8.0       3       no            11.0
j    dog  4.0       3       no             7.0

### Важное замечание:
При создании новой колонки рекомендуется писать её название без пробелов (хотя с ними тоже можно) - как в примере выше: `age_visits_sum`.
Тогда можно будет обращаться к ней не только как ключу словаря, но и как к параметру датафрейма через точку.<br>
`df.age_visits_sum`

In [ ]:
# Например
df.age_visits_sum.value_counts()

7.0     2
6.5     1
4.5     1
9.0     1
6.0     1
8.5     1
11.0    1
Name: age_visits_sum, dtype: int64

Также можем и удалить столбец, не забываем про `inplace=True`.

In [ ]:
df.drop('age_visits_sum', axis=1, inplace=True)
df

  animal  age  visits priority
a    cat  3.5       3      yes
b    cat  4.0       3      yes
c  snake  1.5       3       no
d    dog  NaN       3      yes
e    dog  6.0       3       no
f    cat  3.0       3       no
g  snake  5.5       3       no
h    cat  NaN       3      yes
i    dog  8.0       3       no
j    dog  4.0       3       no

<div class="alert alert-info">
<b>Полезная информация</b>


- __Удаление столбцов или строк__ `df.drop(name, axis=0, inplace=True)`  - Тут name это индекс строки или название колонки. Параметр `axis=0` означает, что удаляется строка, для удаления колонок (столбцов) нужно писать вместо индекса имена колонок списком и ставить `axis=1`.

    
- __Удаление дубликатов строк__ `df.drop_duplicates()` и не забываем про параметр inplace=True. Если надо удалить дубли по конкретному столбцу, что парадаем в метод название или список названий.

    
    
- __Вставка в заданное место столбца__ `df.insert(loc, column, value)`.  Тут `loc` (куда), `column` (название), `value` (что вставлям). По умолчанию столбцы вставляются в конец.

    
    
- __Переименовать столбец__ можно так `df.rename(columns = {'old_name':'new_name'}, inplace=True)`</div>

# Разведочный анализ данных (EDA)

<div class = "markdown-google-sans"><a name="2"></a></div>

В этой части непосредственно познакомимся с загрузкой данных, первичным осмотром и анализом.

 <img src="https://sun9-46.userapi.com/impg/4yA0_8N5ksJzftOvHsi_niXDlu4Ocy-HyjVj0w/YBBKjZhZsjc.jpg?size=1600x666&quality=96&sign=a6b10953218cb38c8e3042879b20935b&type=album"></img>

## Загрузка и первичное знакомство

<div class = "markdown-google-sans"><a name="3"></a></div>

**[pd.read_csv()](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)** - cчитывает данные в DataFrame из файла csv (файл с разделителями). У метода очень много параметров с которыми нужно ознакомится самостоятельно.

In [ ]:
path = 'https://raw.githubusercontent.com/a-milenkin/Competitive_Data_Science/main/data/demo_rides_info.csv'
rides_info = pd.read_csv(path)
rides_info

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,g11939886D,I-9069619f,X1x,2020-03-28,3.90,30,384,31,61.000000,0,9.726349e+02,0,-24.883368,-20.119
49996,P13881472G,T-4233717D,v1s,2020-02-10,2.83,202887,1623091,43,117.316900,1,8.927038e+06,0,6.311743,-7.842
49997,i60157442b,U11495954u,l1U,2020-02-09,7.60,47,369,66,91.763722,0,3.150356e+03,0,-9.265198,9.674
49998,a57837499I,G-5803601t,N1r,2020-01-25,7.16,7,78,34,67.000000,1,1.197659e+02,0,-11.737839,4.371
49999,w14744581R,O-1023170l,r1v,2020-01-24,6.03,56,612,50,88.000000,1,2.302677e+03,0,9.834685,4.280

<div class="alert alert-info"><b>Полезная информация</b>

- Если при чтении файла вы видите столцы с названием типа `Unnamed: 0` , то это сохраненный индекс при записи файла. Можно загрузить индексы из этого столбца не создавая их по умолчанию с нуля с помощью параметра  `index_col=0`, указав номер столбца который нужно использовать для индексов.

    
- Полезные методы вывода строк: `df.head(n)` / `df.sample(n)` / `df.tail(n)` - возвращает первые, случайные или последние n строк датафрейма. Структура `DataFrame` А что это? `DataFrame` – это двумерная структура данных со столбцами потенциально разных типов.

    
- Подсчет числа каждого значения:  `df.value_counts()` - функция используется для получения уникальных значений и числа их встречаемости в виде `Series` . По умолчанию отсортирован по убыванию встречаемости `(ascending=False)`. Можно изменить сортировку через `ascending=True`. Также числовые столбцы можно разбивать на бины через параметр `bins`.  

</div>

## Предварительный осмотр данных

<div class = "markdown-google-sans"><a name="4"></a></div>

**[df.sample()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html)** - возвращает случайную выборку строк датафрейма. Параметр n - кол-во выводимых строк.

In [ ]:
rides_info.sample(5)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
40453,V13338896Q,B17481721b,U1d,2020-02-05,1.26,88840,710713,36,74.0,0,3.287100e+06,0,-0.930528,-0.000
25127,x45870181g,N46867519s,R1A,2020-01-18,4.35,77,688,53,92.0,1,2.690887e+03,0,-4.713748,0.001
44308,F22224689q,E19203100z,v1e,2020-01-01,6.04,57,508,28,41.0,2,1.375107e+03,0,1.609127,-6.188
23785,r17184490Q,V81085560m,z1z,2020-03-18,1.37,38,413,51,76.0,1,1.668641e+03,0,9.326381,2.372
21776,r92141179h,U-1569256E,K1n,2020-01-10,5.00,91,905,44,56.0,1,2.190763e+03,0,11.788117,1.381

**[df.head()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)** - возвращает первые строки датафрейма. По умолчаю выводит 5 строк, но можно изменить параметр n и вывести больше.

Часто используют метод `head()`, но лучше первый раз смотреть на датафрейм через `sample()`.
Так вы имеете возможность смотреть на разные выборки и это может быть полезно, чтобы увидеть какие-нибудь баги.

In [ ]:
rides_info.head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126

<div class="alert alert-info">
    <b>Выводы</b>
    <ul>
    <li>в целом данные загрузились</li>
    <li>названия столбцов из первой строки загружены</li>
    <li>индексы первого столбца выглядят адекватно</li>
    <li>наличие индексов, которые нужно удалить не обнаружено</li>
    <li>по случайным пяти строкам наличие каких-либо ошибок не обнаружено</li></ul>
</div>

***[df.info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html)*** - Выводит краткую сводку информацию по датафрейму.  

В нашем случае датафрейм небольшой, но он может быть большим. Мы разберем методы библиотеки Pandas. на этом небольшом примере, которые вы по аналогии самостоятельно сможете применить к другим датасетам

In [ ]:
rides_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            50000 non-null  object
 1   car_id             50000 non-null  object
 2   ride_id            50000 non-null  object
 3   ride_date          50000 non-null  object
 4   rating             50000 non-null  float64
 5   ride_duration      50000 non-null  int64
 6   ride_cost          50000 non-null  int64
 7   speed_avg          50000 non-null  int64
 8   speed_max          49747 non-null  float64
 9   stop_times         50000 non-null  int64
 10  distance           50000 non-null  float64
 11  refueling          50000 non-null  int64
 12  user_ride_quality  49841 non-null  float64
 13  deviation_normal   50000 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 5.3+ MB

<div class="alert alert-info"><b>Выводы</b>
    <ul>
    <li>в датафрейме 14 столбцов</li>
    <li>четыре из них имеют тип object</li>
    <li>пять из них имеют тип float64</li>
    <li>пять столбцов имеют тип int64</li>
    <li>всего в датафрейме 50000 строк</li>
    <li>в столбцах `speed_max` и `user_ride_quality` есть пропуски (nan)</li>    
    <li>объем занимаемый датафреймом 5.3+ MB (эта информация может быть полезна, чтобы заранее представить какие операции с датафреймом вы сможете выполнять с учетом доступной вам оперативной памяти)</li></ul>
    </div>

  

***[df.columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html)*** - Выводит метки столбцов датафрейма.

Иногда кол-во столбцов очень большое, так что при выводе они все не помещаются в стандартный вывод через `df.info()`. Тогда можно воспользоваться атрибутом для просмотра индексов названий столбцов.

In [ ]:
rides_info.columns

Index(['user_id', 'car_id', 'ride_id', 'ride_date', 'rating', 'ride_duration',
       'ride_cost', 'speed_avg', 'speed_max', 'stop_times', 'distance',
       'refueling', 'user_ride_quality', 'deviation_normal'],
      dtype='object')

Гораздо нагляднее и удобнее работать со списком названий столбцов

In [ ]:
column_names = list(rides_info.columns)
column_names, len(column_names)

(['user_id',
  'car_id',
  'ride_id',
  'ride_date',
  'rating',
  'ride_duration',
  'ride_cost',
  'speed_avg',
  'speed_max',
  'stop_times',
  'distance',
  'refueling',
  'user_ride_quality',
  'deviation_normal'],
 14)

<div class="alert alert-info"><b>Выводы</b>
<ul><li>14 столбцов</li>
<li>все названия столбцов в нижнем регистре и не содержат спецсимволов (значит их не нужно переименовывать, чтобы обращаться к ним через точку)</li></ul></div>

## Работа с числовыми данными

<div class = "markdown-google-sans"><a name="5"></a></div>

***[df.describe()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)*** - Выводит описательные статистики по числовым столбцам датафрейма. Описательные статистики включают в себя
- `count` - кол-во не пустых значений
- `mean` - среднее арифметическое
- `std` - дисперсия
- `min`, `max` - минимум и максимум
- 25%, 50%, 75% - соотвествующие квартили  


__!!!Bнимание!!!__ из статистик автоматически исключаюися NaN значения, если они есть.

Выведем такое описание таблицы, округлив значения до второго знака после запятой:

In [ ]:
rides_info.describe().round(2)

,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
count,50000.00,50000.00,50000.00,50000.00,49747.00,50000.00,50000.00,50000.0,49841.00,50000.00
mean,4.49,9304.08,117999.44,47.10,77.48,1.34,444872.13,0.0,-0.19,-1.20
std,2.13,35947.59,504330.21,12.65,24.28,2.35,1782500.58,0.0,11.79,19.40
min,0.00,2.00,9.00,25.00,30.00,0.00,3.04,0.0,-59.52,-110.76
25%,3.14,27.00,297.00,38.00,62.00,0.00,784.16,0.0,-6.94,-9.01
50%,4.49,44.00,506.00,46.00,72.00,1.00,1456.72,0.0,0.16,0.00
75%,5.86,69.00,895.00,52.00,86.00,2.00,2265.27,0.0,6.69,6.98
max,10.00,222356.00,10889545.00,100.00,202.46,21.00,18333880.69,1.0,56.53,99.92

<div class="alert alert-info">
    <b>Выводы</b>
    
- описание столбцов датафрейма (`speed_avg` - средняя скорость по маршруту такси, `rating` - рейтинг, полученный водителем за поездку, `ride_duration` - продолжительность поездки, `ride_cost` - стоимость поездки, `stop_times` - кол-во остановок)
- средняя скорость движения по маршруту по всем поездкам около 40, а максимальная средняя скорость 103. Вероятно этот столбец имеет размерность км/час
- как минимум в половине случаев во время поездки была одна остановка
- максимальный рейтинг около 8, минимум чуть ниже единицы. Более половины всех рейтингов с оценками от 3 до 5. Вероятно размерность этого столбца баллы
- сделать однозначные выводы о размерностях продолжительности и стоимости поездок нельзя, вероятно они были модифицированы и для этого требуется дополнительный анализ и визуализация данных   

</div>

`describe()` так же можно использовать и для категориальных столбцов, добавив параметр `include='object'`

In [ ]:
rides_info.describe(include='object')

           user_id      car_id ride_id   ride_date
count        50000       50000   50000       50000
unique       13975        4250    2704          92
top     Z20970325i  a11867112k     H1v  2020-01-16
freq            18          25      34         604

***[df.value_counts()](https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html)*** - функция используется для получения уникальных значений и числа их встречаемости в виде Series . По умолчанию отсортирован по убыванию встречаемости (`ascending=False`). Можно изменить сортировку через `ascending=True`. Также числовые столбцы можно разбивать на бины через параметр bins.

In [ ]:
rides_info.ride_id.value_counts()[:5]

H1v    34
E1y    34
K1F    33
H1z    33
P1Q    33
Name: ride_id, dtype: int64

Вывод: самый часто встречающийся код маршрута H1v и E1y = 34 поездки

Посмотрим как распределяется кол-во поездок по рейтингу поездок разбивая его на бины:

In [ ]:
rides_info.rating.value_counts(bins=4)

(2.5, 5.0]       21730
(5.0, 7.5]       15101
(-0.011, 2.5]     8761
(7.5, 10.0]       4408
Name: rating, dtype: int64

Вывод: 26% (8761+4408 делить на 18000) поездок с рейтингом ниже 2.5 и выше 7.5

***[.duplicated()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html)*** - метод который позволит нам выявить дублирование в данных. Возвращает булевы значения, обозначающие повторяющиеся строки. При этом можно не учитывать некоторые определенные столбцы.

In [ ]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

Также можно использовать на определенном столбце/столбцах.

In [ ]:
df.duplicated(subset=['brand'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

# Извлечение необходимой информации

<div class = "markdown-google-sans"><a name="6"></a></div>Перейдем к самому интересному - непосредственно к анализу полученных данных, познакомимся с методами сортировки, фильтрации и разными функциями.</p>

<img src="https://sun9-41.userapi.com/impg/io095r0KS1Fq4NTHYReNuRTf6DBM1pihDZMPqQ/Xki0IFcFAK8.jpg?size=2536x1150&quality=96&sign=db8f9c09f39dd1417032d06830270d44&type=album"></img>

## Сортировка DataFrame

<div class = "markdown-google-sans"><a name="7"></a></div>DataFrame можно сортировать. Посмотрим как это можно делать.</p>

__По значениям__

In [ ]:
df = pd.DataFrame(data, index=labels)
df.sort_values(by='age')

  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes

__По индексу__

In [ ]:
df.sort_index(axis=1, ascending=False)

   visits priority animal  age
a       1      yes    cat  2.5
b       3      yes    cat  3.0
c       2       no  snake  0.5
d       3      yes    dog  NaN
e       2       no    dog  5.0
f       3       no    cat  2.0
g       1       no  snake  4.5
h       1      yes    cat  NaN
i       2       no    dog  7.0
j       1       no    dog  3.0

Параметр `ascending=True` по умолчанию, соответственно сортируется по возрастанию. Если нужно сортировать по нескольким столбцам, то передается список столбов и список булевых переменных в `ascending`. Параметр `inplace=False` по умолчанию.

## Фильтрация данных

<div class = "markdown-google-sans"><a name="8"></a></div>Логические выражения используются для получения подтаблицы с заданными условиями по столбцам.</p>

Рассмотрим примеры.

In [ ]:
df.loc[df.visits > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

Если условий больше одного, то условия фильтрации записываются в круглых скобках!

- __'И'__ обозначается как __&__
- __'ИЛИ'__  обозначается как __|__

In [ ]:
df.loc[(df.visits > 2) & (df.priority == 'yes')]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes

In [ ]:
df.loc[(df.visits > 2) | (df.age > 5)]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
i    dog  7.0       2       no

Чтобы нам вывести часть датафрейма с дешевыми ценами (цены поездки ниже 500), попробуем просто записать это условие и вывести часть датафрейма, которая соответствует этому условию

In [ ]:
rule_cheap = rides_info.ride_cost < 500
rides_info[rule_cheap].head().round(2)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.30,0,2412.86,0,-3.83,-12.58
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.00,2,207.99,0,-6.90,0.00
6,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.03,0,1854.43,0,-21.87,-20.00
11,N20390973B,T12315854s,g1g,2020-03-18,8.59,27,372,48,66.00,1,1061.04,0,-9.69,-18.86
12,x37836441s,o-5998359x,W1M,2020-01-05,7.88,14,177,38,46.00,2,470.41,0,7.31,2.39

Видно, что в выборку попали строки с индексом 0 и 2 (значения строк в столбце ride_cost 324 и 363 соответственно ).

### Булева маска

Также одним из самых простых способов отфильтровать нужные строки, это добавить булевую маску. Пусть маска строится по условию, что стоимость поездки больше некоторого значения.

- Создаем булеву маску  `[True, False, True, ...]`
- Выводим первые 5 значений строк, подходящих под условие

In [ ]:
rule_cheap = rides_info['ride_cost'] < 426
rides_info[rule_cheap].head()

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2412.859858,0,-3.828166,-12.577
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,207.993094,0,-6.904072,0.000
11,N20390973B,T12315854s,g1g,2020-03-18,8.59,27,372,48,66.000000,1,1061.035898,0,-9.692375,-18.856
12,x37836441s,o-5998359x,W1M,2020-01-05,7.88,14,177,38,46.000000,2,470.414162,0,7.314068,2.389
16,v23018580U,J-9977061N,e1v,2020-02-18,5.01,30,415,35,80.000000,0,1045.715427,0,-5.538496,18.364

Если мы хотим добавить новый столбец `cheap_price` - характеристика дешевой цены поездки: если цена в первом 25% квартиле (то есть меньше 426) то это будет дешевая цена `Yes`, иначе Nan.

In [ ]:
rule_cheap = rides_info.ride_cost < 426
rides_info.loc[rule_cheap, 'cheap_price'] = 'Yes'
rides_info.head().round(2)

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.3,0,2412.86,0,-3.83,-12.58,Yes
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.0,0,2553.28,0,-0.17,-5.85,NaN
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.0,2,207.99,0,-6.90,0.00,Yes
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.0,2,1758.48,0,3.13,18.97,NaN
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.0,1,7541414.25,0,-29.25,-8.13,NaN

### Методы `.filter()` и `.query()`

Выбор строк или столбцов

In [ ]:
df.filter(items=['a', 'j'], axis=0)

  animal  age  visits priority
a    cat  2.5       1      yes
j    dog  3.0       1       no

__Пояснение__

Этот метод также имеет параметр `like`. Он отбирает строки / столбцы, в названии которых есть подстрока, присвоенная ему. Параметры `items` и `like` взаимоисключающие.

In [ ]:
df.filter(like='a', axis=1)

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

__Фильтрация__ альтернативным способом

In [ ]:
df.query('age > visits')

  animal  age  visits priority
a    cat  2.5       1      yes
e    dog  5.0       2       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

__Пояснение__

Если в запросе необходимо использовать переменную, например, `mean_age` то перед ней пишем `@`

`df.query('age > @mean_age')`

Можно использовать сложные запросы с __'И'__ обозначается как `&`, __'ИЛИ'__  обозначается как `|`.

`df.query('age > @mean_age | animal == 'cat')`

### ***Метод [`concat()`](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)*** позволяет объединять объекты pandas вдоль определенной оси.

In [ ]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2])

0    a
1    b
0    c
1    d
dtype: object

Также есть возможность задавать индексы и лэйблы.

In [ ]:
pd.concat([s1, s2], keys=['s1', 's2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         a
             1         b
s2           0         c
             1         d
dtype: object

Пример соединения `DataFrame`.

In [ ]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 3], ['d', 4]],
                   columns=['letter', 'number'])

pd.concat([df1, df2])

  letter  number
0      a       1
1      b       2
0      c       3
1      d       4

### __Метод `isin()`__ - это один из самых полезных способов создать булевую маску для фильтрации

In [ ]:
car2stay = ['g55775125g', 'Y-6420899e', 'z77468044J']
mask = rides_info['car_id'].isin(car2stay)

In [ ]:
rides_info[mask]

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577,Yes
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850,NaN
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,47,73.000000,2,2.079931e+02,0,-6.904072,0.000,Yes
5564,Y10710002e,Y-6420899e,K1s,2020-02-28,1.70,135,1884,64,66.336795,0,3.233434e+03,0,9.213972,-52.169,NaN
8545,K18258387y,g55775125g,Q1N,2020-02-08,4.49,60889,852440,57,66.920236,0,3.587582e+06,0,-15.355805,0.413,NaN
10177,b23053441W,z77468044J,v1C,2020-03-18,5.04,38,527,40,66.000000,1,1.061336e+03,0,-46.631412,-5.700,NaN
11301,l14008982F,g55775125g,Z1T,2020-01-14,6.47,102,1319,65,96.413232,0,1.833097e+03,0,-2.461743,-2.760,NaN
11691,s88098975e,Y-6420899e,b1r,2020-01-13,5.78,11,148,43,48.000000,1,2.805963e+02,0,3.451744,2.508,Yes
13076,E12674591q,Y-6420899e,K1l,2020-02-01,8.63,37,512,50,72.387594,0,1.899176e+03,0,12.810590,-24.625,NaN
13746,l84330297P,z77468044J,S1C,2020-01-13,3.53,42,415,38,65.000000,1,1.218265e+03,0,-4.143047,0.000,Yes
14811,O28287672L,g55775125g,x1v,2020-03-29,1.96,58,692,30,61.501390,2,1.586402e+03,0,-4.954781,-13.165,NaN
15401,Y17253493s,z77468044J,w1w,2020-02-22,4.36,36038,504527,54,58.000000,2,1.982052e+06,0,15.741858,-1.100,NaN
18347,v20596053B,Y-6420899e,y1Z,2020-01-29,4.36,34,334,50,65.000000,0,1.501895e+03,0,12.370206,-26.629,Yes
18473,j22908494H,g55775125g,s1V,2020-03-16,4.22,183144,1465145,57,89.000000,0,1.062233e+07,0,-8.780481,8.250,NaN
20814,Y17571504l,Y-6420899e,V1i,2020-03-14,5.98,230,3215,32,63.000000,3,1.128220e+03,0,7.433872,-70.037,NaN
21214,Z50320089I,Y-6420899e,Y1F,2020-01-14,5.78,28,331,70,71.978348,0,1.120443e+03,0,3.859148,0.534,Yes
21712,e33207700p,Y-6420899e,S1t,2020-01-10,10.00,14,190,44,79.000000,0,4.987863e+02,0,0.161411,3.552,Yes
22105,k70641968u,Y-6420899e,t1C,2020-03-02,1.58,224,3130,42,50.000000,1,1.815215e+03,0,11.011055,-62.656,NaN
22243,l53852012F,z77468044J,g1f,2020-01-16,3.85,36,500,53,65.000000,0,1.933894e+03,0,7.254015,0.001,NaN
28272,A60966875K,Y-6420899e,L1K,2020-01-27,3.05,48,379,50,69.000000,0,2.279250e+03,0,8.130577,-18.000,Yes
29026,t21259369l,g55775125g,b1K,2020-03-28,2.29,18,211,26,81.000000,1,4.938492e+02,0,-4.165812,-8.166,Yes
32584,J51636842i,g55775125g,y1Q,2020-03-15,0.10,46,639,49,99.267948,0,1.456738e+03,0,-7.293028,12.616,NaN
33276,t18687398C,Y-6420899e,w1w,2020-03-01,3.50,43,381,44,79.000000,0,1.853587e+03,0,8.236552,-63.050,Yes
33829,N84968544j,z77468044J,p1H,2020-03-25,2.58,6,78,45,60.000000,2,1.502446e+02,0,-48.029024,-7.000,Yes
34866,O18712245E,g55775125g,w1u,2020-01-27,0.69,19,301,31,146.000000,2,4.455922e+02,0,-11.480458,-14.107,Yes
35510,P71461395r,g55775125g,w1z,2020-02-07,7.11,47,511,68,79.743398,0,3.310747e+03,0,-16.913399,-3.252,NaN
36270,Q21750842l,z77468044J,Y1h,2020-01-28,4.49,23,314,49,55.000000,2,6.064859e+02,0,-9.119490,0.001,Yes
36539,h18623490m,g55775125g,s1q,2020-02-22,2.47,19,203,31,65.000000,1,6.354528e+02,0,-17.194377,21.302,Yes
38120,U11342208s,z77468044J,r1p,2020-01-16,3.55,24,211,47,85.000000,1,1.070580e+03,0,-6.708137,0.000,Yes
40339,X19477026l,z77468044J,g1W,2020-02-29,5.56,31,306,47,65.000000,0,2.044764e+02,0,-25.958830,-2.300,Yes
40713,o44394795h,Y-6420899e,m1l,2020-03-03,6.30,22,170,49,85.000000,0,9.283568e+02,0,9.020565,-65.528,Yes
42233,F62694314E,g55775125g,U1J,2020-03-14,4.92,66,919,89,115.000000,1,3.347017e+03,0,-9.885694,11.893,NaN
43119,o41298704Y,z77468044J,P1p,2020-03-19,5.54,70,904,36,42.000000,1,7.923728e+02,0,-49.006717,-5.900,NaN
43535,S14629356D,z77468044J,n1z,2020-03-06,6.85,207426,1659403,43,64.000000,0,9.126689e+06,0,-32.288138,-3.500,NaN
43687,k15218712c,Y-6420899e,C1S,2020-01-28,3.41,46,591,41,69.000000,0,1.812669e+03,0,12.262078,-22.650,NaN
44212,c22382731Y,g55775125g,c1k,2020-02-28,2.52,23,270,88,176.969774,1,1.856074e+03,0,-11.732769,18.213,Yes
44644,Z16377989S,Y-6420899e,v1o,2020-01-29,4.36,40,356,27,34.000000,2,1.147616e+03,0,13.394004,-29.158,Yes
44748,Q22804481u,Y-6420899e,I1N,2020-01-06,6.29,12,160,38,51.088040,0,3.394631e+02,0,1.123741,-4.769,Yes
44855,h92996794Y,z77468044J,O1I,2020-01-21,0.48,22,235,32,73.000000,1,6.523343e+02,0,NaN,0.000,Yes
47486,L16642682D,Y-6420899e,Y1m,2020-01-09,4.64,32,506,46,71.000000,1,1.503161e+03,0,0.425938,0.504,NaN
48162,i44601400V,z77468044J,Z1C,2020-01-15,2.87,40,316,48,62.000000,1,1.839619e+03,0,-7.071870,0.000,Yes

In [ ]:
rides_info[~mask]

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal,cheap_price
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,34,116.000000,2,1.758479e+03,0,3.132158,18.966,NaN
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126,NaN
5,G12536963g,B61056692H,f1p,2020-02-26,5.73,49,681,36,65.000000,1,1.633555e+03,0,5.566720,0.000,NaN
6,j17924049w,g10190493K,e1F,2020-03-15,3.80,33,426,56,121.029522,0,1.854434e+03,0,-21.874094,-19.996,NaN
7,Z21861082q,U-8316679F,s1l,2020-02-22,2.88,23,685,53,58.000000,0,1.290301e+03,0,1.181858,-0.799,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,g11939886D,I-9069619f,X1x,2020-03-28,3.90,30,384,31,61.000000,0,9.726349e+02,0,-24.883368,-20.119,Yes
49996,P13881472G,T-4233717D,v1s,2020-02-10,2.83,202887,1623091,43,117.316900,1,8.927038e+06,0,6.311743,-7.842,NaN
49997,i60157442b,U11495954u,l1U,2020-02-09,7.60,47,369,66,91.763722,0,3.150356e+03,0,-9.265198,9.674,Yes
49998,a57837499I,G-5803601t,N1r,2020-01-25,7.16,7,78,34,67.000000,1,1.197659e+02,0,-11.737839,4.371,Yes
49999,w14744581R,O-1023170l,r1v,2020-01-24,6.03,56,612,50,88.000000,1,2.302677e+03,0,9.834685,4.280,NaN

## Работа с пропущенными значениями

<div class = "markdown-google-sans"><a name="9"></a></div>

Pandas для представления отсутствующих данных использует значение из numpy `np.nan`. По умолчанию оно не включается в вычисления. Где хранятся `np.nan`  показывает `df.isna()` оно же `df.isnull()`

In [ ]:
df.isnull()

   animal    age  visits  priority
a   False  False   False     False
b   False  False   False     False
c   False  False   False     False
d   False   True   False     False
e   False  False   False     False
f   False  False   False     False
g   False  False   False     False
h   False   True   False     False
i   False  False   False     False
j   False  False   False     False

In [ ]:
df.dropna()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

__Замечание__

По умолчанию некоторые параметры - этого метода следующие

- `axis=0`  0 удаляет строки, содержащие пропущенные значения, 1 удаляет столбцы.
- `how='any'` `'any'` если хотя бы одно `NA`, удаляет эту строку или столбец, `'all'` только если все значения `NA`
- `inplace=False` False выполняет операцию и возвращает копию объекта, True выполняет операцию на месте и возвращает `None`

Вжух, и все пропущенные значения исчезли! Однако, не забывайте про параметр `inplace=True` иначе ваши изменения не сохранятся.

Заполняет пропущенные значения `df.fillna(n)` при n равном 5 имеем

In [ ]:
df.fillna(5)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  5.0       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  5.0       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

По умолчанию некоторые параметры этого метода следующие

- `axis=None` 0 заполняет по строкам, 1 заполняет по столбцам

- `inplace=False` False выполняет операцию и возвращает копию объекта, True выполняет операцию на месте и возвращает None

Количество пропусков в каждом столбце

In [ ]:
df.isna().sum()

animal      0
age         2
visits      0
priority    0
dtype: int64

`df.fillna()` - Заполняет значения NA/NaN. Параметр `inplace=True` заполняет в датафрейме без необходимости копирования. По умолчанию `inplace=False`.

## Основы индексации данных

<div class = "markdown-google-sans"><a name="10"></a></div>

**[df.loc[]](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)** - Обеспечивает доступ к группе строк и столбцов по меткам (индексам) или логическому массиву. Обратите внимание, что, в отличие от обычных срезов Python, включены как начало, так и конец индексов. Через этот метод можно менять значения датафрейма.

<img src="https://sun2.beeline-kz.userapi.com/impg/I6sVsItmqvdhZODJ94ZFdwfvlYN3MMl7f5mDwQ/XmpQ6c34FX0.jpg?size=1646x732&quality=96&sign=1fe5b434040e4ad6cd7265352d10a4a3&type=album"></img>

Также, выбрать столбец можно как `df.col`, где col это имя столбца, если имя столбца написано латиницей и не содержит пробелов. На примерах это будет выглядеть так:

In [ ]:
df.animal

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [ ]:
df.loc['a', ['animal', 'visits']]

animal    cat
visits      1
Name: a, dtype: object

In [ ]:
df.iloc[:,0]

a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object

In [ ]:
df.iloc[[1, 3], [0]]

  animal
b    cat
d    dog

Наглядно это выглядит так

<img src="https://sun9-79.userapi.com/impg/p0NrZ2Owypd4NbKQV4--0kZYi4PfNqk3E31URQ/7NTTharc5XA.jpg?size=301x129&quality=96&sign=36a4edc1d86f1b6618a80545f36cf4ef&type=album"></img>

__Разница между `iloc` и `loc` простая!__   `.loc`- возвращает строку по номеру, `.iloc` по индексу. <br>
***Важно:*** Ещё одно различие состоит в том, что при наличии числового индекса `.iloc()` не будет включать правую границу в срез, а `.loc()` будет.

Посмотрим на примере:

In [ ]:
df2 = df.reset_index(drop=True)
df2.head()

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no
3    dog  NaN       3      yes
4    dog  5.0       2       no

In [ ]:
# Строка с индексом 3 и колонка 2 не включены в срез
df2.iloc[1:3, 0:2]

  animal  age
1    cat  3.0
2  snake  0.5

In [ ]:
# А здесь правые границы включены в срез
df2.loc[1:3, 'animal':'visits']

  animal  age  visits
1    cat  3.0       3
2  snake  0.5       2
3    dog  NaN       3

### Фокусы с индексами

Сбрасывает индекс `df.reset_index()`

In [ ]:
df.reset_index()

  index animal  age  visits priority
0     a    cat  2.5       1      yes
1     b    cat  3.0       3      yes
2     c  snake  0.5       2       no
3     d    dog  NaN       3      yes
4     e    dog  5.0       2       no
5     f    cat  2.0       3       no
6     g  snake  4.5       1       no
7     h    cat  NaN       1      yes
8     i    dog  7.0       2       no
9     j    dog  3.0       1       no

Устанавливает индекс `df.set_index()`. Соответственно, берет существующий столбец и переводит его в индекс.

Заменяет индекс `df.reindex()`

In [ ]:
df.reindex(['j', 'i', 'h', 0, 1, 2], axis=0, fill_value=5)

  animal  age  visits priority
j    dog  3.0       1       no
i    dog  7.0       2       no
h    cat  NaN       1      yes
0      5  5.0       5        5
1      5  5.0       5        5
2      5  5.0       5        5

Параметр `fill_value` отвечает за заполнение пропущенных значений

Так неудобно сравнивать два столбца, давайте передвинем `cheap_price` к `ride_cost`

In [ ]:
cols = ['user_id',
        'car_id',
        'ride_id',
        'ride_date',
        'rating',
        'ride_duration',
        'ride_cost',
        'cheap_price',
        'speed_avg',
        'speed_max',
        'stop_times',
        'distance',
        'refueling',
        'user_ride_quality',
        'deviation_normal']

rides_info[cols]

,user_id,car_id,ride_id,ride_date,rating,ride_duration,ride_cost,cheap_price,speed_avg,speed_max,stop_times,distance,refueling,user_ride_quality,deviation_normal
0,q53527020Q,g55775125g,i1O,2020-01-16,3.42,33,324,Yes,75,100.298135,0,2.412860e+03,0,-3.828166,-12.577
1,X72952203K,Y-6420899e,Z1i,2020-01-19,4.00,65,839,NaN,51,78.000000,0,2.553284e+03,0,-0.166199,-5.850
2,g40994147T,z77468044J,x1M,2020-01-21,6.18,46,363,Yes,47,73.000000,2,2.079931e+02,0,-6.904072,0.000
3,E18650750E,W50413234I,W1Y,2020-03-17,1.43,80,955,NaN,34,116.000000,2,1.758479e+03,0,3.132158,18.966
4,D18083254C,e-4559210H,U1f,2020-03-21,3.45,142292,2276667,NaN,52,64.000000,1,7.541414e+06,0,-29.248641,-8.126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,g11939886D,I-9069619f,X1x,2020-03-28,3.90,30,384,Yes,31,61.000000,0,9.726349e+02,0,-24.883368,-20.119
49996,P13881472G,T-4233717D,v1s,2020-02-10,2.83,202887,1623091,NaN,43,117.316900,1,8.927038e+06,0,6.311743,-7.842
49997,i60157442b,U11495954u,l1U,2020-02-09,7.60,47,369,Yes,66,91.763722,0,3.150356e+03,0,-9.265198,9.674
49998,a57837499I,G-5803601t,N1r,2020-01-25,7.16,7,78,Yes,34,67.000000,1,1.197659e+02,0,-11.737839,4.371
49999,w14744581R,O-1023170l,r1v,2020-01-24,6.03,56,612,NaN,50,88.000000,1,2.302677e+03,0,9.834685,4.280

На этом примере видно как можно выводить, изменять срезы датафрейма через список необходимых столбцов. Также вы можете использовать встроенную функцию Pandas `.reindex()`

Теперь нам надо заполнить пустые значения NaN значениями `'No'`, воспользуемся методом заполнения пропусков

<div class = "markdown-google-sans"><a name="11"></a></div>

## Функции
Применение функции к данным по строкам / столбцам реализуется `df.apply(func, axis=0)`

В примере методу `apply()` передается функция, которая будет применяться к данным. Стоит заметить, что значения типа 'str' тоже суммируются.


<img src="https://sun9-70.userapi.com/impg/SfdR2m0D2E02P1xeDa8XJTr2DopfykEufD7Kcw/rQkknfzl800.jpg?size=216x398&quality=96&sign=b395742fb9db51dbeb0e124d17f82901&type=album"></img>

In [ ]:
df.apply(np.sum, axis=0)

animal      catcatsnakedogdogcatsnakecatdogdog
age                                       27.5
visits                                      19
priority              yesyesnoyesnononoyesnono
dtype: object

Применение функции к данным поэлементно реализуется `df.applymap(lambda x: func)`

В примере методу `applymap()`  передается `lambda`-функция, которая будет применяться к элементу.

In [ ]:
df.applymap(lambda x: len(str(x)))

   animal  age  visits  priority
a       3    3       1         3
b       3    3       1         3
c       5    3       1         2
d       3    3       1         3
e       3    3       1         2
f       3    3       1         2
g       5    3       1         2
h       3    3       1         3
i       3    3       1         2
j       3    3       1         2

### Встроенные функции

Здесь перечислены некоторые полезные методы, применимые к Series

<img src="https://sun9-17.userapi.com/impg/QIvfQYVUFnOii25XfA6yL9HSsnVaMSI71Ccqow/BROCketQrDw.jpg?size=1302x1068&quality=96&sign=ffe48fa08279d37d7e023cce818f888c&type=album" width=700></img>

# Summary
В этом уроке мы разобрались с : \
1) Базовыми операциями с датафреймами \
2) Как загружать данные в пандас \
3) Как достать из датафрейма некоторую первичную информацию о нем(а именно простейшие статистики на столбцах с числовыми данными, уникальные и неуникальные записи) \
4) Сортировку и фильтрацию данных с помощью булевых масок(Mетодy `.filter()`, `.query()`, `concat()`, `isin()`) \
5) Работой с пропущенными значениями \
6) Индексацией данных(Аналоги срезов массивов из python в pandas, некоторые полезные методы для работы с ними, такие как `.reset_index()`, `.set_index()`, `.reindex()`) \
7) Как применять функции к столбцам датафрейма